// Variables
//--------------------------------//
$ANIMATION_DURATION: 1s;

// Fade In
//--------------------------------//
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.u--fadeIn {
  -webkit-animation: fadeIn $ANIMATION_DURATION ease-in;
  -moz-animation: fadeIn $ANIMATION_DURATION ease-in;
  -o-animation: fadeIn $ANIMATION_DURATION ease-in;
  animation: fadeIn $ANIMATION_DURATION ease-in;
}
